* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    color: maroon;
}

nav{
    background-color:orange;
    padding: 10px;
}

div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

section{
    grid-column: 1/5;
    background-color: rgb(168, 213, 214);
    color: rgb(8, 8, 119);
    padding: 3em;
}

aside{
    text-align: center;
    grid-column: 5/6;
    background-color: teal;
    padding: 20px;
}

footer{
    color: blanchedalmond;
    background-color: maroon;
    padding: 20px;
}

.pie{
    text-align: center;
}


/* Menu */

.menu-area a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: orangered;
    height: 50px;
    text-decoration: none;
}

.menu-area a:hover {
    background-color: maroon;
    color: #fff;

}

.menu-area ul {
    list-style: none;
    display: flex;
}

.menu-area li {
    position: relative;
    width: 100%;
    text-align: center;
}

.menu-area li:hover .dropdown-1>li {
    top: 0;
    display: block;
}

.dropdown-1 li {
    display: none;
    position: relative;
}

.dropdown-1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dropdown-1 li:hover {
    display: block;
}